@import 'colors.scss';
@import 'global.scss';

.container {
  display: grid;
  grid-template-columns: 0.2fr 0.8fr;
  gap: 16px;
  width: 1400px;
  min-height: $min-admin-height;
  position: relative;
  margin-top: 16px;
  // width: 100%;
}

.content {
 border-left: 1px solid $grey_300;
 height: 100%;
 padding-left: 16px;
}

.tabs {
  li + li {
    margin-top: 8px;
  }
}

.tab {
  align-items: center;
  color: $blue_600;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  gap: 16px;
  font-weight: 500;
  padding: 8px 16px;
  font-size: 18px;
  position: relative;
  transition: all 100ms ease-in-out;

  svg {
    flex-shrink: 0;
    color: inherit;
    height: 20px;
    width: 20px;

    path {
      fill: $blue_500;
      transition: all ease-out;
    }
  }

  &:after {
    content: '';
    display: block;
    height: 12px;
    position: absolute;
    right: -6px;
    top: 14px;
    transform: rotate(45deg);
    transition: all 110ms ease-in-out;
    width: 12px;
  }

  &:hover {
    background-color: $blue_100;
  }

  &.active {
    background-color: $blue_500;
    color: $bg_primary;

    &::after {
      background-color: $blue_500;
    }

    svg {
      path {
        fill: $bg_primary;
      }
    }
  }
}
