@import 'colors.scss';
@import 'global.scss';

.container {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 0 16px;
  min-height: $min-admin-height;
  position: relative;
  margin-top: 16px;
  width: 100%;
}

.content {
  border-left: 1px solid $grey_300;
  height: 100%;
  padding: 16px 0 0 16px;
  width: 100%;
}

.tabs {
  padding-top: 16px;

  li + li {
    margin-top: 8px;
  }
}

.tab {
  align-items: center;
  color: $blue_600;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  gap: 16px;
  font-weight: 500;
  padding: 8px 16px;
  font-size: 18px;
  position: relative;
  transition: all 100ms ease-in-out;

  .changed {
    position: absolute;
    right: 16px;
    top: 10px;
  }

  svg {
    flex-shrink: 0;
    color: inherit;
    height: 20px;
    width: 20px;

    path {
      fill: $blue_500;
      transition: all ease-out;
    }
  }

  &:after {
    content: '';
    display: block;
    height: 12px;
    position: absolute;
    right: -6px;
    top: 14px;
    transform: rotate(45deg);
    transition: all 100ms ease-in-out;
    width: 12px;
  }

  &:hover {
    background-color: $blue_100;
  }

  &.active {
    background-color: $blue_500;
    color: $bg_primary;

    &::after {
      background-color: $blue_500;
    }

    svg {
      path {
        fill: $bg_primary;
      }
    }
  }
}

.pair {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  width: 100%;

  & > * {
    flex: 1;
  }
}

.alert {
  transition: all 200ms ease-out;

  &.active {
    background-color: $red_500;
    color: $bg_primary;
    transform: scale(1.1);
  }
}

.title {
  margin-bottom: 16px;
}

.permission {
  align-items: center;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 8px 0;

  .label {
    transition: all 100ms ease;
  }

  &:hover {
    .label {
      font-weight: 600;
    }
  }

  &.disabled {
    color: $text_disabled;
    cursor: not-allowed;

    &:hover .label {
      font-weight: 400;
    }
  }

  & + & {
    border-top: 1px solid $grey_300;
  }
}

.permissionGroup {
  border-bottom: 1px solid $grey_300;
  gap: 24px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 8px 0;

  & > input {
    margin-top: 4px;
  }

  h3 {
    margin-bottom: 4px;
  }

  p {
    margin-bottom: 8px;
    line-height: 22px;
  }

  &.disabled {
    color: $text_disabled;
    cursor: not-allowed;

    &:hover .label {
      font-weight: 400;
    }
  }
}

.toolbar {
  align-items: center;
  border-bottom: 1px solid $grey_300;
  display: flex;
  grid-column: 1/3;
  height: 47px;
  justify-content: space-between;
  padding-bottom: 8px;

  .buttons {
    display: flex;
    gap: 16px;
  }
}

.passwords {
  margin: 48px 0 16px;
}

.faculty {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  width: 100%;

  & > span:first-child {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  & > span:last-child {
    color: $text_disabled;
  }
}

.group {
  display: flex;
  flex-direction: column;

  & > label:nth-child(2) {
    border-top: 0;
  }

  & > label:not(:first-child) {
    margin-left: 48px;
  }

  & + & {
    margin-top: 48px;
  }
}

.admin {
  align-items: flex-start;
  margin-bottom: 32px;

  &:hover {
    & > div {
      span {
        font-weight: 600 !important;
      }
    }
  }

  & > div {
    span {
      display: block;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 4px;
    }

    p {
      line-height: 22px;
    }
  }
}
