@import 'colors.scss';
@import 'global.scss';

$transition-duration: 150ms;

@keyframes showOverlay {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes hideOverlay {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes showDialog {
  from {
    transform: scale(0.7);
  }

  to {
    transform: scale(1);
  }
}

@keyframes hideDialog {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0);
  }
}

.container {
  position: relative;

  & > svg {
    position: absolute;
    right: 8px;
    top: 8px;
    color: $text_subdued;
  }
}

.valueContainer {
  background-color: $bg_primary;
  border-radius: 4px;
  border: 1px solid $grey_300;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.05);
  color: $text_default;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  gap: 8px;
  height: 37px;
  justify-content: flex-start;
  padding: 8px 36px 8px 16px;
  text-align: left;
  width: 100%;

  &:focus {
    outline: 2px solid $blue_500;
    outline-offset: -1px;
  }

  &:disabled {
    background-color: $grey_100;
    cursor: not-allowed;
    color: $text_disabled;

    .multiValue {
      background-color: $grey_200;
      color: $text_disabled;
    }
  }

  &.placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: $grey_600;
  }

  &.error {
    border-color: $red_500;
  }
}

.overlay {
  animation: showOverlay $transition-duration $bounce forwards;
  align-items: center;
  background-color: rgba(0,0,0,.5);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;

  &.closing {
    animation: hideOverlay $transition-duration linear forwards;
  }
}

.selectWrapper {
  border-radius: 16px;
  max-width: 500px;
  overflow: hidden;
  width: 100%;
}

.select {
  animation: showDialog $transition-duration $bounce forwards;
  background-color: $bg_primary;
  border-radius: 16px;
  max-height: 50vh;
  overflow: overlay;
  width: 100%;

  &::-webkit-scrollbar {
    cursor: pointer;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5000px;
    background-color: $grey_300;

    &:hover {
      background-color: $grey_500;
    }
  }

  &.closing {
    animation: hideDialog $transition-duration linear forwards;
  }

  ul {
    padding: 16px;
    width: 100%;
  }
}

.option {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  transition: all 100ms ease-out;

  &:hover {
    background-color: $grey_100;
  }
}

.header {
  align-items: center;
  border-bottom: 1px solid $grey_300;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.wrapper {
  border-bottom: 1px solid $grey_300;
  padding: 16px;
}

.empty {
  color: $text_subdued;
  text-align: center;
}

.sectionTitle {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 10px;
}

.selected {
  border-bottom: 1px solid $grey_300;
}

.multiValue {
  background-color: $blue_100;
  padding: 4px;
  border-radius: 4px;
  color: $blue_500;
  position: relative;
  left: -4px;
  top: -4px;
}
