@import 'colors.scss';

.container {
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  gap: 16px;
  padding: 8px;
  width: fit-content;

  &:hover {
    background-color: rgba(0,0,0,0.05);
  }
}

.dropdown {
  top: calc(100% + 4px);
}
