@import 'colors.scss';
@import 'responsive.scss';
@import 'global.scss';

.wrapper {
  max-width: 1000px;
  width: 100%;
}

.container {
  background-color: $bg_primary;
  box-shadow: $small-elevation;
  padding: 24px 16px;
  width: 100%;

  & + & {
    margin-top: 24px;
  }

  li + li {
    margin-top: 16px;
  }
}

.email {
  align-items: center;
  display: flex;
  gap: 8px;
  margin-top: 4px;
  color: $text_subdued;
  font-weight: 500;
}

.details {
  margin-top: 4px;
}

.statuses {
  display: flex;
  gap: 16px;
  margin-top: 24px;
}

.user {
  display: flex;
  gap: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;

  a {
    color: $blue_500;
    font-size: 16px;
    font-weight: 500;
  }
}

.empty {
  flex-direction: column;
  padding: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: $grey_100;
  border-radius: 8px;
  margin-top: 24px;

  h3, h4 {
    text-align: center;
    max-width: 50%;
  }

  h3 {
    color: $grey_700;
  }

  h4 {
    color: $grey_600;
  }
}
