.screen {
  height: 100%;
  display: flex;
  width: 100%;
}

.half {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  width: 50%;
}

.info {
  background-color: #222;
}
