@import 'colors.scss';

.grid {
  margin: 16px;
}

.wrapper {
  width: 100vw;
  height: calc(100vh - 104px);
  overflow: auto;
}

.logs {
  min-height: 766px;
  padding: 16px;
  position: relative;
  max-width: 100vw;
  margin-top: 40px;
  position: sticky;
  left: 0;

  table {
    margin: 16px 0;
  }
}

.highlight {
  background-color: $yellow_300 !important;
}

.paginator {
  bottom: 16px;
  position: absolute;
  right: 16px;
}

.link {
  background-color: transparent;
  border: none;
  color: $blue_500;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;

  &:hover {
    color: $blue_600;
  }
}
