$blue_100: #e9ecfe;
$blue_200: #bdc5fc;
$blue_300: #919ff9;
$blue_400: #6578f7;
$blue_500: #4f65f6;
$blue_600: #3443a2;
$blue_700: #27327a;
$blue_800: #181f4c;
$blue_900: #0c1026;

$green_100: #e6fcef;
$green_200: #bae6ce;
$green_300: #88d4a5;
$green_400: #4bb873;
$green_500: #0ba142;
$green_600: #038532;
$green_700: #15763e;
$green_800: #186132;
$green_900: #054f24;

$yellow_100: #fef6ef;
$yellow_200: #fdefe1;
$yellow_300: #fbdfbf;
$yellow_400: #f9cd96;
$yellow_500: #f7b95c;
$yellow_600: #e8a422;
$yellow_700: #c98e1e;
$yellow_800: #9c6600;
$yellow_900: #6e4800;

$red_100: #fdf2f1;
$red_200: #fbdfdc;
$red_300: #f8bab4;
$red_400: #f58c7f;
$red_500: #f24a0a;
$red_600: #cc3800;
$red_700: #ab3001;
$red_800: #792201;
$red_900: #611b01;

$grey_100: #f5f5f7;
$grey_200: #e9e9eb;
$grey_300: #e1e0e5;
$grey_400: #d5d4db;
$grey_500: #cac9d3;
$grey_600: #aeadba;
$grey_700: #898894;
$grey_800: #5e5e66;
$grey_900: #3f3e45;

$text_default: $blue_900;
$text_subdued: $grey_800;
$text_disabled: $grey_600;

$bg_primary: #ffffff;
